body {
  background-color:#0b0c10;
  color:#eee;
}

header h1 {
  text-shadow:6px 6px 8px #ccc;
}

.navbar-light .navbar-brand {
  text-shadow:6px 2px 8px rgba(0,0,0,0.2);
}

@media (max-width: 768px) {
  .nav-link {
    display:block;
    padding:.5rem 1rem;
    width:90px;
    height:33px;
    font-size:12px;
    background-color:rgba(102,252,241,0.7);
  }
}

@media (max-width: 350px) {
  .nav-link {
    display:block;
    padding:0;
    width:54%;
    height:43px;
    font-size:3px;
  }
}

@media (min-width: 300px) {
  #card {
    font-size:18px;
  }
}

